html, 
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#generate {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}